In [16]:
mydictionary={10:"rahul" ,20:'yash', 30:"mohit" , 40:"golu"}
type(mydictionary)

dict

In [8]:
print(mydictionary)

{10: 'rahul', 20: 'yash'}

In [17]:
mydictionary

{10: 'rahul', 20: 'yash', 30: 'mohit', 40: 'golu'}

In [21]:
mydictionary[40]

'golu'

In [22]:
mydictionary[40]="babu"
mydictionary

{10: 'rahul', 20: 'yash', 30: 'mohit', 40: 'babu'}

In [23]:
mydictionary[50]="ankit"
mydictionary

{10: 'rahul', 20: 'yash', 30: 'mohit', 40: 'babu', 50: 'ankit'}

In [34]:
x=mydictionary.pop(30)
print(mydictionary)

{10: 'rahul', 40: 'babu', 50: 'ankit'}

In [35]:
x

'mohit'

In [37]:
for i in"rahul":
    print(i)

r
a
h
u
l

In [40]:
mydictionary={10:"rahul" ,20:'yash', 30:"mohit" , 40:"golu"}
print(mydictionary)

SyntaxError: ':' expected after dictionary key (589017994.py, line 1)

In [42]:
mydictionary={20=="dheeraj"}

In [43]:
mydictionary

{False}

In [46]:
mydictionary={10:"rahul" ,20:'yash', 30:"mohit" , 40:"golu"}
mydictionary[30]="ajay"

In [45]:
mydictionary

{False}

In [6]:
mydictionary={10:"rahul" ,20:'yash', 30:"mohit" , 40:"golu"}
mydictionary[30]="ajay"
mydictionary

{10: 'rahul', 20: 'yash', 30: 'ajay', 40: 'golu'}

In [8]:
mydic={10:"mango" , 10:"apple"}
mydic

{10: 'apple'}

In [19]:
mydict={}
for i in "rahul":
     mydict[i]=1
print(mydict)

{'r': 1, 'a': 1, 'h': 1, 'u': 1, 'l': 1}

In [22]:
mydict["a"]=1
mydict

{'r': 1, 'a': 1, 'h': 1, 'u': 1, 'l': 1, 'hhh': 123}

In [30]:
count=0
mydict={}
for i in "rahul":
    print(i)
    count+=1
print("total words: ",count)

r
a
h
u
l
total words:  5

In [39]:
mydict={"total":0}

for i in "123456789":
    mydict["total"]=mydict["total"]+1
print(mydict)

{'total': 9}

In [48]:
mydict={}
cons={}
for i in "hello mr. rahul i am here":
    if i in "aeiou":
        if i in mydict:
            mydict[i]=mydict[i]+1
        else:
            mydict[i]=1
    elif (i  not in "aeiou"):
        if i in cons:
            cons[i]=cons[i]+1
        else:
            cons[i]=1
        
print(mydict) 
print(cons)

{'e': 3, 'o': 1, 'a': 2, 'u': 1, 'i': 1}
{'h': 3, 'l': 3, ' ': 5, 'm': 2, 'r': 3, '.': 1}

In [49]:
mydict={}
cons={}
for i in "hello mr. rahul i am here":
    if i in "aeiou":
        if i in mydict:
            mydict[i]=mydict[i]+1
        else:
            mydict[i]=1
    elif (i  not in "aeiou"):
        if i in cons:
            cons[i]=cons[i]+1
        else:
            cons[i]=1

print(mydict) 
print(cons)

{'e': 3, 'o': 1, 'a': 2, 'u': 1, 'i': 1}
{'h': 3, 'l': 3, ' ': 5, 'm': 2, 'r': 3, '.': 1}

In [54]:
vowels={}
consonate={}
for i in "regex software":
    if i in "aeiou":
        if i in vowels:
            vowels[i]+=1
        else:
            vowels[i]=1
    else:
        if i in consonate:
            consonate[i]+=1
        else:
            consonate[i]=1
print(vowels)
print(consonate)

{'e': 3, 'o': 1, 'a': 1}
{'r': 2, 'g': 1, 'x': 1, ' ': 1, 's': 1, 'f': 1, 't': 1, 'w': 1}

In [58]:
n=9474
sum=0
temp=n
rem=0
while(n>0):
    rem=n%10
    sum=sum+rem*rem*rem*rem
    n=n//10
if(temp==sum):
    print("narcissist")
else:
    print("not")

narcissist

In [64]:
x=float(input("please value "))
round(x,5)

please value  12.123465444

12.12347

In [69]:
n=153
sum=0
temp=n
rem=0
while(n>0):
    rem=n%10
    sum=sum+rem*rem*rem
    n=n//10
if(temp==sum):
    print("arm")
else:
    print("not")

arm

#### def print_factors(n):
    print("Factors of", n, "are:")
    for i in range(1, n + 1):
        if n % i == 0:
            print(i)

# User se input lena
number = int(input())

# Function ko call karke factors print karna
print_factors(number)

In [8]:
x=int(input("value "))
for i in range(1,x+1):
    if(x%i==0):


        
        print(i)

value  50

1
2
5
10
25
50

In [4]:
x=input( "enter = ")
for i in range(1,6):

SyntaxError: incomplete input (510251856.py, line 4)

In [ ]:
newlist=[]
for i in range(6):
    num = float(input("Enter float number  "))
    newlist.append(num)
print("List of float numbers:", newlist)

In [16]:
newlist=[]
for i in range(5):
    n=float(input("enter number ;" ))
    newlist.append(n)
print("list of float number " ,newlist)

enter number ; 1
enter number ; 2
enter number ; 2
enter number ; 2
enter number ; 2

list of float number  [1.0, 2.0, 2.0, 2.0, 2.0]

Enter the radius of the cylinder (in cm):  10
Enter the height of the cylinder (in cm):  10

Volume of the cylinder: 3141.5926535897934 cubic cm
Total cost of milk: 125.66370614359174 Rs

In [3]:
x=float(input(" cylender radies : "))
y=float(input(" cylender height : "))
volume = 3.14*x**2*y
# V=Ï€r**2h
# 1 litr milk rate is 40 rs
# 1 litter = 1000 cm
z=volume/1000*40
print("total cost of 40 litts =",z ,"rs")

 cylender radies :  10
 cylender height :  10

total cost of 40 litts = 125.60000000000001 rs

In [1]:
"hello"

'hello'

In [2]:
1

1

In [10]:
for i in range(1,6):
    for j in range(6-i):
        print("",end=" ")

    for k in range(i):
        print("*",end=" ")

    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [17]:
for i in range(1,6):
    for j in range(i-1):
        print("",end=" ")

    for k in range(i):
        print("*",end=" ")

    print()

*
 * *
  * * *
   * * * *
    * * * * *

In [24]:
def ulta_pyramid(rows):
    for i in range(rows, 0, -1):
        print(' ' * (rows - i) + '*' * (2 * i - 1))

# Example usage:
ulta_pyramid(5)

*********
 *******
  *****
   ***
    *

In [20]:
for i in range(5,0,-1):
    print(" " * (5-i) +"*" *(2*i-1))

*********
 *******
  *****
   ***
    *

In [21]:
def ulta_pyramid(rows):
    for i in range(rows, 0, -1):
        print(' ' * (rows - i) + ' '.join('*' * i))

# Example usage:
ulta_pyramid(5)

* * * * *
 * * * *
  * * *
   * *
    *

In [44]:
for i in range(1,6):
    for i in range(i,5):
        print("*",end=" ")

for i in range(6,):
    for i in range(i,5):
        print("*",end=" ")


    

    print(" ")

* * * * * * * * * * * * * *
* * *
* *
*

In [1]:
import numpy as np

In [2]:
a=np.array(4)

In [3]:
a

array(4)

In [4]:
a.ndim

0

In [6]:
b=np.array([2,5,4])

In [7]:
b

array([2, 5, 4])

In [8]:
b.ndim

1

In [10]:
mat=np.array([[1,2,3],[4,5,6],[7,8,9]])

In [11]:
mat

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

mat.ndim

In [12]:
mat.ndim

2

In [1]:
print(254)

254

In [25]:
def pattern(n):

    
    x=65
    for i in range(1,n):
        for k in range(i,n):
            print(chr(x),end=" ")
            x=x+1
            
    
        print("\n")

pattern(5)

A B C D

E F G

H I

J

In [35]:
# lcm
x=int(input())
y=int(input())
def lcm(x,y):
    if (x>y):
        big=x
    else:
        big=y
    
    while(True):
        if(big%x==0 and big%y==0):
            print("lcm is :",big)
            break;
        big=big+1

lcm(x,y)

 5
 6

lcm is : 30

In [45]:
# hcf
x=int(input())
y=int(input())
def hcf(x,y):
    if (x>y):
        big=x
    else:
        big=y
    for i in range(2,big+1):
        if(x%i==0 and y%i==0):
            hcf=i
    print("lcm is :",hcf)

hcf(x,y)

 25
 75

lcm is : 25

In [49]:
# deafult perameter

def abc(x,y=10):
    return x*y

abc(20)

200

In [51]:

city=["jaipur","goa","ajmer","sikar","delhi"]
marks=[25,65,25,21,656,2151,124,12564]

def lenlist(list):
    print(len(list))

lenlist(city)
lenlist(marks)

5
8

In [55]:

city=["jaipur","goa","ajmer","sikar","delhi"]
marks=[25,65,25,21,656,2151,124,12564]
def fun(x):
    y=len(x)
    for i in range(0,y):
        print(x[i],end=" ")

fun(city)

jaipur goa ajmer sikar delhi

In [59]:
def fact(n):
    x=1
    for i in range(1,n+1):
        x=x*i
    print(x)

fact(6)

720

In [68]:
def con(x):
    c=x*83
    print(x ,"rs:",c,"dollar")

con(2)

2 rs: 166 dollar

In [74]:
 # types of argumnet
def em(id,name,salary):
    print(f"EID :{id} \nname : {name} \nsalary{salary}")

em(25,"rahul",2500000)

EID :25
name : rahul
salary2500000

In [78]:
 # types of argumnet
def em(id,name,salary):
    print(f"EID :{id} \nname : {name} \nsalary{salary}")

em(25,2500000,"rahul")

EID :25
name : 2500000
salaryrahul

In [86]:
# key word and positional argument 

 # types of argumnet
def em(id,name,salary):
    print(f"EID :{id} \nname : {name} \nsalary{salary}")

em(25,salary=": rahul",name=2500000)

EID :25
name : 2500000
salary: rahul

In [92]:
# deafult argument 

 # types of argumnet
def em(id,name="rahuj",salary=154688657496874):
    print(f"EID :{id} \nname : {name} \nsalary{salary}")

em(25)

EID :25
name : rahuj
salary154688657496874

In [94]:
# variable length argu,mnet 

def facebook(**data):
    print(data,type(data))

facebook(name="rahul",id=105,x="hey ")
facebook(name="jatin",y="hello")
facebook()

{'name': 'rahul', 'id': 105, 'x': 'hey '} <class 'dict'>
{'name': 'jatin', 'y': 'hello'} <class 'dict'>
{} <class 'dict'>

In [ ]:
def facebook(*data):
    print(data,type(data))
facebook("rahu