In [1]:
# OOP in pythom

In [2]:
# class and object in python 

# class is a blueprint for creating object

# class is a collection of objects and it does not any space on memory, class is allso 
#     called as blueprint logical entity

In [3]:
# object ==> reak time entity

# 1. characticts ==> color , company , size
# 2. behavihar/functionality(ex.laptop)

In [4]:
class student:
    name ="rahul"

s1=student()
print(s1.name)

s2=student()
print(s2.name)

rahul
rahul

In [5]:
class car:
    color="red"
    brand="kia"

car1=car()
print(car1.color)
print(car1.brand)

red
kia

In [6]:
# constructor

In [7]:
# __init__function

In [8]:
# creating a class

class student:
    def __init__(self,fullname):
        self.name=fullname

In [9]:
# creating a object

s1=student("karan")
print(s1.name)

karan

In [10]:
class stu():
    name ="sumit"
    def __init__(self):
        print(self)
        print("adding new student in dataset")

s1=stu()
print(s1)

<__main__.stu object at 0x0000018AD2204880>
adding new student in dataset
<__main__.stu object at 0x0000018AD2204880>

In [15]:
class stu():
    def __init__(self,stuname):
        self.name=stuname
        print("adding new student in database...")

print(123)
s1=stu("jatin")
print(s1.name)

s2=stu("rahul")
print(s2.name)

123
adding new student in database...
jatin
adding new student in database...
rahul

In [16]:
# attributes ==>  data , variables

In [18]:
class stu:
    def __init__(self,name,marks):
        self.name =name
        self.marks=marks
        print("adding new student in database..")

s1=stu("jatin",85)
print(s1.name , s1.marks)

s2=stu("sumit",56)
print(s2.name,s1.marks)

adding new student in database..
jatin 85
adding new student in database..
sumit 85

In [22]:
class stu:
    # default construcors
    def __init__(self):
        pass 

    # parameterized constructors

    def __init__(self,name,marks):
        self.name=name
        self.marks=marks
        print("adding new student in database..")

s3=stu()  # default

s1=stu("jatin",85)
print(s1.name , s1.marks)

s2=stu("sumit",56)
print(s2.name,s1.marks)

adding new student in database..
jatin 85
adding new student in database..
sumit 85

In [23]:
class stu:
    def __init__(self, name=None, marks=None):
        if name is not None and marks is not None:
            self.name = name
            self.marks = marks
            print("adding new student in database..")
        else:
            print("Default constructor called (no data provided)")

# Default constructor
s3 = stu()

# Parameterized constructor
s1 = stu("jatin", 85)
print(s1.name, s1.marks)

s2 = stu("sumit", 56)
print(s2.name, s1.marks)

Default constructor called (no data provided)
adding new student in database..
jatin 85
adding new student in database..
sumit 85

In [25]:

class stu:
    collage_name="sufal school"
    def __init__(self,name,marks):
        self.name=name
        self.marks=marks

s1=stu("rahul",85)
print(s1.collage_name)

sufal school

In [26]:

class stu:
    collage_name="sufal school"
    name="abhi"
    def __init__(self,name,marks):
        self.name=name
        self.marks=marks

s1=stu("rahul",85)
print(s1.collage_name)

stu.name

sufal school

'abhi'

In [27]:
# methods

In [ ]:
class stu:

In [35]:
class stu:
    def __init__(self,name,marks):
        
        self.marks=marks
        self.name=name
       

    def get_avg(self):
        sum=0
        for i in self.marks:
            sum=sum+i

        print("hi",self.name,"your avg:",sum/3)

s1=stu("rahul",[10,10,20])
s1.get_avg()

s1.name="rakesh"
s1.get_avg()

hi rahul your avg: 13.333333333333334
hi rakesh your avg: 13.333333333333334

In [32]:
class Student:

    def __init__(self,name,marks):
        self.name=name
        self.marks=marks

    def get_avg(self):
        sum=0
        for i in self.marks:
            sum=sum+i

        print("hi" ,self.name,"your avg score is : ",sum/3)

s1=Student("ajay",[30,50,100])
s1.get_avg()

s1.name="rakesh"
s1.get_avg()

hi ajay your avg score is :  60.0
hi rakesh your avg score is :  60.0

In [36]:
# static method

In [37]:
class Student:
    
    collage_name="kota univercity"   
    name="mohan"  

    @staticmethod                   # decorator
    def state():
        print("jaipur")
    def __init__(self,name,marks):
        self.name=name  
        self.marks=marks

    def welcome(self):
        print("welcome student :",self.name)

    def get_marks(self):
        return self.marks
        
        

s1=Student("rahul",85)
s1.welcome()
print(s1.get_marks())
s1.state() 
# yah mmethod bina self likhe chlta hai

welcome student : rahul
85
jaipur