In [ ]:
-print("helo \nworld",end="---")
print("hey rahul ")

helo
world---hey rahul

In [ ]:
print("heloo","hey",sep= "+")

heloo+hey

In [ ]:
age=10

In [ ]:
print(type(age))

<class 'int'>

In [ ]:
address="""plot no-
city
state"""
print(address)

plot no-
city
state

In [ ]:
company="Regex"
year=2024
print("company name is" ,company} year is {year})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-17-202615e690e6>, line 3)

In [ ]:
# prompt:

# This code has several syntax errors and logical issues. Here's the corrected code:

print("hello\nworld", end="---")
print("hey rahul")
print("hello", "hey", sep="+")
age = 10
print(type(age))
address = """plot no-
city
state"""
print(address)

company = "Regex"
year = 2024
print(f"Company name is {company} and year is {year}")

In [ ]:
print(id(x))

134442935419408

In [ ]:
y=x
print(id(y))

134442935419408

In [ ]:
x=int(input("enter the number:"))
list=[10,20,25,63,25,96,36,58,96,22]
i=0
while(i<len(list)):
    if(list[i]==x):
        print("this number is faound")


    else:
        print("this numbner is not faound")

    i=i+1

enter the number:25
this numbner is not faound
this numbner is not faound
this number is faound
this numbner is not faound
this number is faound
this numbner is not faound
this numbner is not faound
this numbner is not faound
this numbner is not faound
this numbner is not faound

In [ ]:
# Recurtion
# when a function calls itself repeatedly

In [ ]:
def show(n):
  if(n==1):
    return

  print(n)
  show(n-1)
show(5)

5
4
3
2

In [ ]:
def showw(n):
  if(n==10):
    return

  print(n*10)
  n=n-1

  showw(n)


showw(15)

150
140
130
120
110

In [ ]:
# recurtion function

def show(n):
  if (n==0):
    return

  print(n*100)
  n=n-1
  show(n)


show(11)
print("end")

1100
1000
900
800
700
600
500
400
300
200
100
end

In [ ]:
# factorial

n=int(input("enter the number:"))

def fact(n):
  f=1
  for i in range(1,n+1):
      f=f*i


  return f









result=fact(n)
print("factorial:",result)

enter the number:5
factorial: 120

In [ ]:
n = int(input("Enter the number: "))


def fact(n):
    f = 1
    for i in range(1, n + 1):
        f = f * i
    return f

result = fact(n)
print("Factorial is:", result)

Enter the number: 5
Factorial is: 120

In [ ]:
sum=0
def cal_sum(n):
  sum=0
  for i in range(1,n+1):
    sum=sum+i

  return sum
s=cal_sum(10)
print(s)

55

In [ ]:
def summ(n):
  if(n==0):
    return 0

  return summ(n-1)+n

ss=summ(10)

print(ss)

55

In [ ]:
def print_list(list,idx=0):
  if(idx==len(list)):
    return
  print(list[idx])
  print_list(list,idx+1)

fruits=["mango","banana","apple", "lilchi"]
print_list(fruits)

mango
banana
apple
lilchi